
<div>
	<br />
	<br />
	<br />
	<br />
	<br />
</div>
<h1>Siparişiniz Onaylandı.</h1>
<a class="boxed-btn" asp-action="Index" asp-controller="Panel">Ana Sayfa</a>
<div>
	<br />
	<br />
	<br />
	<br />
	<br />
</div>