@using Hamburger_MVC.Models.ViewModels;
@model EditEmailVM

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
        <div class="billing-address-form">
            <form asp-action="EditEmail" asp-controller="Kullanici" method="post">
                <div class="form-group">
                    <label for="CurrentEmail">Mevcut E-posta Adresi:</label>
                    <input type="email" class="form-control" asp-for="CurrentEmail"  readonly>
                </div>
                <div class="form-group">
                    <label for="NewEmail">Yeni E-posta Adresi:</label>
                    <input type="email" asp-for="NewEmail" class="form-control" name="NewEmail">
                </div>
                <div class="form-group">
                    <label for="Password">Şifre:</label>
                    <input type="password" asp-for="Password" class="form-control" name="Password">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-outline-warning">E-posta Adresini Değiştir</button>
                </div>
            </form>
        </div>
    </div>
</div>
